* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
  
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #F9E0BB, #884A39);
    padding: 10px;
}
  
.todo-box {
    width: 100%;
    max-width: 600px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
    
h1 {
    text-align: center;
}
    
form {
    display: flex;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border-radius: 40px;
    border: none;
    background: lightgray;
}
    
button {
    padding: 5px 10px;
}
    
ul {
    list-style-type: none;
    padding: 0;
}
    
li {
    margin: 10px;
}

.completed {
    text-decoration: line-through;
}
  
#todo-list {
    margin: 15px;
}
  
.todo-box input[type="text"] {
    margin: 7px;
}
  
.todo-box button[type="submit"] {
    margin: 7px;
}
  
button[type="submit"] {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.title-desc-container span {
    margin-right: 8px;
}
  
.title-desc-container span.title {
    font-weight: bold;
}
  
.created-date,
.completed-date {
    margin-right: 8px;
    font-family: 'Rajdhani', sans-serif;
}
  
.title-desc-container span:nth-child(2) {
    font-style: italic;
}
  
.delete-button {
    padding: 5px 25px;
    background-color: #ff5945;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    top: -12px;
    right: -90px;
}
  
.delete-button:hover {
    background-color: #f31e0f;
}
  